<div class="row">
  <div class="col">
    <h2>Shared list</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      class="list-group"
      @items={{this.sortedDevList}}
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onRemove={{fn this.onRemove 'A'}}
      @onEnd={{fn this.onEnd 'A'}}
      @onSort={{fn this.onSort 'A'}}
      as |list|
    >
      {{#each list as |item| }}
        <div data-record-id={{item.value.id}} class="list-group-item">{{item.value.name}}</div>
      {{/each}}
    </SortableJs>
  </div>
  <div class="col">
    <SortableJs
      class="list-group"
      @items={{this.sortedPmList}}
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onAdd={{fn this.onAdd 'B'}}
      @onEnd={{fn this.onEnd 'B'}}
      @onSort={{fn this.onSort 'B'}}
      as |list|
    >
      {{#each list as |item| }}
        <div data-record-id={{item.value.id}} class="list-group-item bg-yellow">{{item.value.name}}</div>
      {{/each}}
    </SortableJs>
  </div>
  <div class="col">
    <script type="application/javascript" src="https://gist.github.com/lvegerano/b3118b59c5bb32fe928f957444ef6203.js"></script>
  </div>
</div>
<div class="row">
  {{#if this.cancelCB}}
    <button type="button" {{on "click" this.cancelDrag}}>Cancel</button>
  {{/if}}
</div>
