<div class="row">
  <div class="col">
    <h2>Shared list</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      class="list-group"
      @items={{this.sortedDevList}}
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onRemove={{this.onRemove}}
      @onEnd={{this.onEnd}}
      @onSort={{this.onSort}}
      as |list|
    >
      {{log 'running a' list}}
      {{#each list as |item| }}
        <div data-record-id={{item.value.id}} class="list-group-item">{{item.value.name}}</div>
      {{/each}}
    </SortableJs>
  </div>
  <div class="col">
    <SortableJs
      class="list-group"
      @items={{this.sortedPmList}}
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onAdd={{fn this.onAdd}}
      @onEnd={{this.onEnd}}
      @onSort={{this.onSort}}
      as |list|
    >
      {{log 'running b' list}}
      {{#each list as |item| }}
        <div data-record-id={{item.value.id}} class="list-group-item bg-yellow">{{item.value.name}}</div>
      {{/each}}
    </SortableJs>
  </div>
  <div class="col">
    <script type="application/javascript" src="https://gist.github.com/lvegerano/b3118b59c5bb32fe928f957444ef6203.js"></script>
  </div>
</div>
