<div class="row">
  <div class="col">
    <h2>Simple list</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      class="list-group"
      @items={{array "one" "two" "three" "four" "five"}}
      @options={{hash animation=150 ghostClass="ghost-class"}}
      @onChoose={{this.onChoose}}
      @onUnchoose={{this.onUnchoose}}
      @onStart={{this.onStart}}
      @onEnd={{this.onEnd}}
      @onAdd={{this.onAdd}}
      @onUpdate={{this.onUpdate}}
      @onRemove={{this.onRemove}}
      @onMove={{this.onMove}}
      @onClone={{this.onClone}}
      @onChange={{this.onChange}}
      as |list|
    >
      {{#each list as |item index| }}
        <div data-list-item={{index}} class="list-group-item">{{item.value}}</div>
      {{/each}}
    </SortableJs>
  </div>
  <div class="col">
  </div>
</div>
