<div class="row">
  <div class="col">
    <h2>Filtering draggable objects</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      @options={{hash animation=150 swapThreshold=this.rangeValue}}
      as |sortable|
    >
      <ul class="pretty-list">
        <li data-testid="one">
          {{! template-lint-disable no-inline-styles }}
          <div class="threshold-indicator" style={{html-safe (concat "height: " this.thresholdHeight "%")}}>Item 1</div>
        </li>
        <li data-testid="one">
          {{! template-lint-disable no-inline-styles }}
          <div class="threshold-indicator" style={{html-safe (concat "height: " this.thresholdHeight "%")}}>Item 2</div>
        </li>
      </ul>
      <div>
        Threshold:&nbsp;<input type="range" min="0" max="1" step="0.01" value={{this.rangeValue}} oninput={{action "setRange" sortable}}>
      </div>
    </SortableJs>
  </div>
  <div class="col">
    <pre>
      <code>
        &lt;SortableJs
          @options=&#123;&#123;hash animation=150 swapThreshold={{this.rangeValue}}&#125;&#125;
        &gt;
          &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item"&gt;&lt;/span&gt;Item 1&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/SortableJs&gt;
      </code>
    </pre>
  </div>
</div>